body{
    margin-left: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
}
.leftSide{
        width: 50%;
        background-color: rgb(22, 169, 228);
        height: 500px; 
        float: left;
        padding: 10px;
        padding-bottom: 200px;
        display: flex; 
        align-items: center; 
        justify-content: center;
}
.rightSide{
    align-items: center;
    padding-top:200px;
    padding-left:11rem;
    display: flex;
}
.showWeather{
    padding: 20%;
}
span{
    color: aliceblue;
}
.celcius{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.fahrenheit{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
h1{ 
    display: inline;
} 
icon{
    display: inline;
}
.name{
    font-size: 3rem;
}
h2{
    display: inline;;
}

.leftSide{
        width: 50%;
        background-color: rgb(22, 169, 228);
        height: 500px; 
        float: left;
        padding: 10px;
        padding-bottom: 200px;
        display: flex; 
        align-items: center; 
        justify-content: center;
}
.rightSide{
    align-items: center;
    padding-top:200px;
    padding-left:11rem;
    display: flex;
}
.showWeather{
    padding: 20%;
}
span{
    color: aliceblue;

}
h3{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    font-weight: block;
}

#celcius{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    
}
#fahrenheit{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
/* #celcius:active {
    background-color:rgb(87, 183, 221);
    box-shadow: 0 5px rgb(71, 139, 241);
    transform: translateY(2px);
 }
 #fahrenheit:active {
    background-color:rgb(87, 183, 221);
    box-shadow: 0 5px gray;
    transform: translateY(2px);
 } */
#showWeather,#weatherName
{
    display:inline;
}
h1{
    display: inline;
}
/* h2{
    display: inline;
} */
.name{
    font-size: 3rem;
}
#list{

        background:#FFFFFF url("search.png") no-repeat 4px;
        padding:4px 4px 4px 22px;
        border:2px solid #456879;
	    border-radius:10px;
        width:230px;
        height:18px;
}

#icon{
    size:20;
    height: 30px;
    width:30px;
}